<h1>TweetLists#get</h1>
<table border=1>
  <th>NO</th><th>ツイート内容</th>
<% @tweet_contexts.each_with_index do |context, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= context %></td>
  </tr>
<% end %>
</table>
